/* sidebyside.css */

.homepage-container {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
  }
  
  .image {
    max-width: 17vw;
    border: 1px solid #aaa;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle; /* Vertically align the image to the middle */
  }
  
  img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto;    /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra space below inline-block elements */
  }

  h1 {
    margin-top: 0; /* Remove top margin to align it better */
}

  @media (max-width: 768px) {
    .homepage-container {
      flex-direction: column;
      text-align: center;
    }
  
    .image {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
